#~
*.class
*.rbc
*env
*.swp
*~
.DS_Store
.env*
.kitchen
.packer-build-image-name
.packer-template
.vagrant
/*.box
/*.pem
/.bundle/
/ci-*.json
/coverage/
/internal-*.json
/jupiter-brain.json
/output-*
/tfw.json
/tmate-edge.json
/vault-consul-server.json
/vendor/
gce-packer-acct.json
image-metadata-*.tar.bz2
packer_cache
rabbitmqadmin
tmp/*
~*
