*~
tmp/*
.DS_Store
*.class
*.rbc
#~
~*
.vagrant
.env*
*env
gce-packer-acct.json
packer_cache
/output-*
/*.box
.kitchen
/*.pem
rabbitmqadmin
.packer-template
.packer-build-image-name
/coverage/
/vendor/
/.bundle/
/ci-*.json
image-metadata-*.tar.bz2
